body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#svg-image {
  max-width: 300px;
  background: #eee;
}

#svg-image circle {
  cursor: move;
}

#svg-image path {
  user-select: none;
}

path.control {
  stroke: #999;
  stroke-width: 0.1px;
  stroke-dasharray: 0.3;
}
